{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        2021-22 cycle statistics
      </h1>

      <p class="govuk-body">Statistics on applications for initial teacher training in England through the Apply for teacher training service.</p>

      <p class="govuk-body govuk-!-font-size-16">Applications opened on 7 September 2021</p>
      <p class="govuk-body govuk-!-font-size-16">Statistics up to midnight 30 November 2021</p>
      <p class="govuk-body govuk-!-font-size-16">Next update: 3 January 2022</p>

      <h2 class="govuk-heading-s">Contents</h2>

      <ul class="govuk-list govuk-!-margin-bottom-8">
        <li><a href="#introduction" class="govuk-link">Introduction</a></li>
        <li><a href="#applicants-by-status" class="govuk-link">Applicants by status</a>
        <li><a href="#applicants-by-age-group" class="govuk-link">Applicants by age group</a>
        <li><a href="#applicants-by-sex" class="govuk-link">Applicants by sex</a>
      </ul>


      <h2 class="govuk-heading-m" id="introduction">Introduction</h2>

      <p class="govuk-body">Applicants are only counted once. If an applicant has applied to more than one course, they’re counted under the highest row (in the table) which applies.</p>

      <p class="govuk-body">For example, if a candidate has received one offer, declined one offer, and is awaiting a provider decision on a third course, they're counted under “Received an offer”.</p>

      <p class="govuk-body">People can apply for up to 3 courses in their initial application. If these are all unsuccessful, the applicant can apply again an unlimited number of times, but for only a single course at a time.</p>

      <p class="govuk-body"><b>Initial application</b> – this shows the number of candidates on their first application (candidates can apply for up to 3 courses in this application).</p>

      <p class="govuk-body"><b>Apply again</b> – this shows the number of applicants who have applied again after an unsuccessful first application. They can “apply again” as many times as they like, but can only apply to one course at a time.</p>

      <table class="govuk-table govuk-!-font-size-16" id="applicants-by-status">
        <caption class="govuk-table__caption govuk-table__caption--m">Applicants by status</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Initial application</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Apply again</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Recruited</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">11,000</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Conditions pending</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">11,000</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Received an offer</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">11,000</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Awaiting provider decisions</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">11,000</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Offer declined</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">11,000</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Application withdrawn</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">11,000</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Application unsuccessful</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">10,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">1,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">11,000</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total</th>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">70,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">7,000</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">77,000</td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table class="govuk-table govuk-!-font-size-16" id="applicants-by-age-group">
        <caption class="govuk-table__caption govuk-table__caption--m">Applicants by age group</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Age group</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Recruited</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Conditions pending</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Received an offer</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Other states</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">21 and under</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">22</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">23</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">25 to 29</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">30 to 39</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">40 and over</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total</th>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">700</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">450</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">70</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">1,400</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">3,220</td>
          </tr>
        </tfoot>
      </table>

      <p class="govuk-body">The age of each applicant is calculated as of 31 August 2022.</p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table class="govuk-table govuk-!-font-size-16" id="applicants-by-sex">
        <caption class="govuk-table__caption govuk-table__caption--m">Applicants by sex</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Sex</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Recruited</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Conditions pending</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Received an offer</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Other states</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Male</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Female</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Intersex</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Prefer not to say</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">50</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">10</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">200</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">460</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total</th>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">700</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">450</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">70</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">1,400</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">3,220</td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>

{% endblock %}
